@font-face {
    font-family: "Tahu";
    src: url("src/fonts/Tahu.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("src/fonts/gotham/Gotham-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Gotham";
    src: url("src/fonts/gotham/Gotham-Light.otf");
    font-weight: 200;
}
